#title>a{
	color:#4152a1;
}

a{
	text-decoration: none;
}

#header{
	margin: 5px;
}

h4{
	margin: 0px;
}

img {
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 250px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
	margin-top: 5%;
	margin-bottom:5%;
}
body {
     font-family: 'Source Sans Pro';
     font-weight: 300;
     background-color: rgba(250, 233, 210, 0.81);
}
#navbar{
	float:right;
	display: inline;
	background-color: #0688dd;
	border: 4px solid #0688dd;
	position: relative;
}
li > a:link, li > a:visited{
	color: black;
}

li > a:hover, li > a:active{
	color: rgb(125, 0, 125);
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	float: left;
}

li > a {
	display: block;
	padding: 8px;
	background-color: #0688dd;
	text-decoration: none;
	
}
.text-align-center > a:link, .text-align-center > a:visited{
	color: black;
}
.text-align-center > a:active, .text-align-center > a:hover{
	color: rgb(125, 0, 125);
}

.text-align-center{
	text-align: center;
}

#text-holder{
	margin-left: 5%;
	margin-right: 5%;
}

#title{
	margin-left: 6%;
	width: 300px;
	display: inline;
}

#text-holder > h2{
	color: #4152a1;
}

#img-text-holder{
	margin: 5px;
	padding: 10px;
	padding-bottom: 10px;
	border-style: solid;
	border-top: thin solid green;
	border-bottom: thin solid green;
	border-left: 0px;
	border-right: 0px;
	position: absolute;
}
#footer{
	bottom: 0;
	width: 100%;
	z-index:10;
	margin-top:625px;
	position:relative;
	clear: both;
}

#footer > p{
	float: left;
	bottom: 0;
	position: absolute;
	margin-left: 6%;
	font-size: 14px;
	display: block;
}

#footer > p > a:link, #footer > p > a:visited{
	color: black;
}
#footer > p > a:hover, #footer > p > a:active{
	color: rgb(125, 0, 125);
}