img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    float: left
}
body {
     font-family: 'Source Sans Pro';
     font-weight: 300;
     background-color: #7AFAFA
}

h1{
	background-color: #7AFAFA
}

.text-align-center{
	text-align: center;
}