img {
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 300px;
    float: left;
    margin-left: 5%;
    margin-right: 5%
}
body {
     font-family: 'Source Sans Pro';
     font-weight: 300;
     background-color: #7AFAFA
}

.text-align-center{
	text-align: center;
}

#text-holder{
	margin-left: 5%;
	margin-right: 5%;
}

#title{
	margin-left: 10%;
	color: #4152a1
}

#text-holder > h1{
	     color: #4152a1
}