img {
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 300px;
    float: left;
    margin-left: 5%;
    margin-right: 5%
}
body {
     font-family: 'Source Sans Pro';
     font-weight: 300;
     background-color: #7AFAFA
}
#navbar{
	float:right;
	margin-right: 10%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	float: left;
}

li > a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
	text-decoration: none;
}



.text-align-center{
	text-align: center;
}

#text-holder{
	margin-left: 5%;
	margin-right: 5%;
}

#title{
	margin-left: 10%;
	color: #4152a1
}

#text-holder > h1{
	color: #4152a1
}

#img-text-holder{
	border-style: solid;
	border-top: thin solid green;
	border-bottom: thin solid green;
}